{% extends 'components/base.html' %}
{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <h2>Contact US</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in comment %}
                            <tr>
                                <td>{{comment.name}}</td>
                                <td>{{comment.email}}</td>
                                <td>{{comment.comment}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}