{% load static %}
<section id="aboutUs">
    <div class="container">
      <div class="heading text-center"> 
        <!-- Heading -->
        <h2>About Us</h2>
        <p>United plaza offers world class services to their customers</p>
      </div>
      <div class="row feature design">
        <div class="area1 columns left">
          <h3>Our Services tells about quality</h3>
          <p>For the past 10 years, we have offered our services to our dear customers. </p>
          <p> Join us to be part of the greatness</p>
            <a href="{% url 'signup' %}" class="btn">Request to be a tenant</a>
        </div>
        <div class="area2 columns feature-media right"> <img src="{% static 'home/images/about.jpg' %}" alt="" width="100%"> </div>
    </div>
    <div class="row dataTxt">	
        <div class="col-md-4 col-sm-6">
            <h3>Our Tenants</h3>
            <p>Our tenants love what we offer to them.</p>
            <p>We listen to our customers' complains and commments and we do respond accordingly</p>                             
            <br>
        </div>            
        <div class="col-md-4 col-sm-6">                
            <h3>Our Houses</h3>
            <p> United Plaza provide spacious houses that ar affordable to our dear customers</p>
            <ul class="listArrow">
                <li>Single Rooms</li>
                <li>Double Rooms</li>
                <li>Bedsitter</li>
                <li>One bedroom</li>
                <li>Two bedroom</li>
            </ul>
            <!-- Accordion starts -->
        </div>
        <div class="col-md-4 col-sm-6">                
            <h3>Latest News</h3>
            <p>We are doing our best to improve our services to our dear customers </p>
            <ul  class="list3">
                <li>Renovation of houses</li>
                <li>Expansion of houses</li>
                <li>Installation of house security</li> 
            </ul>
            <!-- Accordion starts -->
        </div>
        </div>
    </div>
</section>
