{% load static %}
<section id="Features" class="page-section colord">
    <div class="container">
      <div class="row"> 
        <!-- item -->
        <div class="col-md-3 text-center"> 
        <div class="box-item">
        <i class="circle"><img src="{% static 'home/images/waters.png' %}" alt="" /></i>
          <h3>Water</h3>
          <p>Our apartments are equiped with water tanks that store enough water. Fresh water is available to the tenants throughout the day.</p>
        </div>
         </div>
        <!-- end: --> 
        
        <!-- item -->
        <div class="col-md-3 text-center">
        <div class="box-item">
        <i class="circle"> <img src="{% static 'home/images/houses.png' %}" alt="" /></i>
          <h3>Spacious</h3>
          <p>Our houses are large in area that you can fit all your property. They have spacious room that you can move in them freely.</p>
        </div>
         </div>
        <!-- end: --> 
        
        <!-- item -->
        <div class="col-md-3 text-center">
        <div class="box-item">
        <i class="circle"> <img src="{% static 'home/images/securitys.png' %}" alt="" /></i>
          <h3>Security</h3>
          <p>Our premises are under 24 hr cctv surveilance. We also have a guard dog and the gate is always under key and lock</p>
        </div>
         </div>
        <!-- end: --> 
        
        <!-- item -->
        <div class="col-md-3 text-center">
        <div class="box-item">
        <i class="circle"> <img src="{% static 'home/images/wifis.png' %}" alt="" /></i>
          <h3>Wifi</h3>
          <p> We provide a wireless network that enables users to access WiFi connections on laptops, smart phones and other devices.</p>
        </div>
        <!-- end:-->
         </div>
      </div>
    </div>
    <!--/.container--> 
  </section>