<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col">
                    <h4>Contact us</h4>
                    <ul>
                        <li>Juja, Kiambu Kenya</li>
                        <li>Phone: +254 715592343 </li>
                        <li>Email: <a href="dancunian10340@gmail.com" title="Email Us">dancunian10340@gmail.com</a></li>
                        <li>Skype: <a href="skype:my.test?call" title="Skype us">my-company</a></li>
                    </ul>
                </div>
            </div>
                                
            <div class="col-md-3">
                <div class="col col-social-icons">
                    <h4>Follow us</h4>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                    <a href="#"><i class="fa fa-flickr"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col">
                    <h4>Latest News</h4>
                    <p>
                    Vacant rooms available!
                    <br><br>
                    <a href="{% url 'signup' %}" class="btn">Join us!</a>
                    </p>
                </div>
            </div>
        </div>
             
    </div>
        
</footer>

<!--/.page-section-->
<section class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center"> Copyright  | All Rights Reserved </div>
      </div>
      <!-- / .row --> 
    </div>
  </section>
  <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a> 
  