{% load static %}
<header class="header">
    <div class="container">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a href="#" class="navbar-brand scroll-top logo  animated bounceInLeft"><b><i><img src="{% static 'home/images/home.png' %}" /></i></b></a> </div>
        <!--/.navbar-header-->
        <div id="main-nav" class="collapse navbar-collapse">
          <ul class="nav navbar-nav" id="mainNav">
            <li class="active" id="firstLink"><a href="#home" class="scroll-link">Home</a></li>
            <li><a href="#Features" class="scroll-link">Features</a></li>
            <li><a href="#aboutUs" class="scroll-link">About Us</a></li>
            <li><a href="#plans" class="scroll-link">Rent</a></li>
            <li><a href="#team" class="scroll-link">Management</a></li>
            <li><a href="#contactUs" class="scroll-link">Contact Us</a></li>
            <li><a href="{% url 'signin' %}" class="scroll-link">Sign in</a></li>
          </ul>
        </div>
        <!--/.navbar-collapse--> 
      </nav>
      <!--/.navbar--> 
    </div>
    <!--/.container--> 
  </header>
  <!--/.header-->