{% load static %}
<section id="team" class="page-section">
    <div class="container">
      <div class="heading text-center"> 
        <!-- Heading -->
        <h2>Management</h2>
        <p>United Plaza has a board of managers that are transparent abd deligent to their work..</p>
      </div>
      <!-- Team Member's Details -->
      <div class="team-content">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12"> 
            <!-- Team Member -->
            <div class="team-member pDark"> 
              <!-- Image Hover Block -->
              <div class="member-img"> 
                <!-- Image  --> 
                <img class="img-responsive" src="{% static 'home/images/photo-1.jpg' %}" alt=""> </div>
              <!-- Member Details -->
              <div class="team-title">
              <h4>Simon Mwangi</h4>
              <!-- Designation --> 
              <span class="pos">LANDLORD</span>
              </div>
              <div class="team-socials"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-github"></i></a> </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12"> 
            <!-- Team Member -->
            <div class="team-member pDark"> 
              <!-- Image Hover Block -->
              <div class="member-img"> 
                <!-- Image  --> 
                <img class="img-responsive" src="{% static 'home/images/photo-2.jpg' %}" alt=""> </div>
              <!-- Member Details -->
              <h4>Nancy Mwangi</h4>
              <!-- Designation --> 
              <span class="pos">LANDLADY</span>
              <div class="team-socials"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-github"></i></a> </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12"> 
            <!-- Team Member -->
            <div class="team-member pDark"> 
              <!-- Image Hover Block -->
              <div class="member-img"> 
                <!-- Image  --> 
                <img class="img-responsive" src="{% static 'home/images/photo-3.jpg' %}" alt=""> </div>
              <!-- Member Details -->
              <h4>Ian Dancun</h4>
              <!-- Designation --> 
              <span class="pos">DATABASE ADMINSTRATOR</span>
              <div class="team-socials"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-github"></i></a> </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12"> 
            <!-- Team Member -->
            <div class="team-member pDark"> 
              <!-- Image Hover Block -->
              <div class="member-img"> 
                <!-- Image  --> 
                <img class="img-responsive" src="{% static 'home/images/photo-3.jpg' %}" alt=""> </div>
              <!-- Member Details -->
              <h4>Gilbert Githua</h4>
              <!-- Designation --> 
              <span class="pos">CARE TAKER</span>
              <div class="team-socials"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-github"></i></a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.container--> 
</section>
  