{% extends 'signed/skeleton.html' %}
{% block content %}
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            {{ tenant_name }} <small>United Plaza</small>
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Payment Receipt
                            
                        </div>
                        <div class="panel-body">
                            {% if receipt %}
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Tenant's name </th>
                                            <th>Mode of Payment</th>
                                            <th>Amount Paid</th>
                                            <th>Payment for</th>
                                            <th>Balance</th>
                                            <th>Date paid</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for receipt in receipt%}
                                        <tr class="odd gradeX">
                                            <td>{{receipt.tenant}}</td>
                                            <td>{{receipt.mode}}</td>
                                            <td>{{receipt.amount}}</td>
                                            <td class="center">{{receipt.payment_for}}</td>
                                            <td class="center">{{receipt.balance}}</td>
                                            <td class="center">{{receipt.date}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <div class="alert alert-success">
                                <ul>
                                    <li>
                                        <div>
                                            <strong>You Have No Payments</strong>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                
{% endblock content %}	