<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div id="page-inner">


        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    Dashboard <small>{{ tenant_name }}</small>
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder bg-color-blue">
                    <div class="panel-body">
                        <i class="fa fa-money fa-5x"></i>
                        <h3>{{room_no}}</h3>
                    </div>
                    <div class="panel-footer back-footer-blue">
                        Room No
    
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder bg-color-green">
                    <div class="panel-body">
                        <i class="fa fa-money fa-5x"></i>
                        <h3>{{amount}}</h3>
                    </div>
                    <div class="panel-footer back-footer-green">
                        Amount paid

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder bg-color-red">
                    <div class="panel-body">
                        <i class="fa fa-money fa-5x"></i>
                        <h3>{{balance}}</h3>
                    </div>
                    <div class="panel-footer back-footer-red">
                        Balance

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder bg-color-brown">
                    <div class="panel-body">
                        <i class="fa fa-calendar fa-5x"></i>
                        <h3>{{payment_for}}</h3>
                    </div>
                    <div class="panel-footer back-footer-brown">
                        Payment for

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
        </div>
        <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->